body{

	background-color: grey;

	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0.13, #2A9BA8),
		color-stop(1, #0F7BD4)
	);
	background-image: -o-linear-gradient(bottom, #2A9BA8 13%, #0F7BD4 100%);
	background-image: -moz-linear-gradient(bottom, #2A9BA8 13%, #0F7BD4 100%);
	background-image: -webkit-linear-gradient(bottom, #2A9BA8 13%, #0F7BD4 100%);
	background-image: -ms-linear-gradient(bottom, #2A9BA8 13%, #0F7BD4 100%);
	background-image: linear-gradient(to bottom, #2A9BA8 13%, #0F7BD4 100%);


	background-position: fixed;
}

#icono{
  width: 20%;
  height: 15%;
  background-color: red;
  float: left;
}
#encabezado{
  width: 80%;
  height: 15%;
  background-color: blue;
  float: left;
}
#cuerpo{
  
  min-width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  /*height: 85%;*/
  float: left;

}

#tabla{

	width: 100%;

	padding-top: 1em;
}

#dentroTabla{

	min-height: 60%;
	margin-bottom: 3em;

	width: 100%;

	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;

	background-color: white;

	float: left;
}

#pestanas{

	/*padding-left: 5px;*/
	padding-right: 5px;
}

#cuerpoPestana {

	padding: 2em;
}

#heading{

	margin-left: 5%;
	margin-right: 5%;

	min-width: 90%;
}

#googleMaps{

	min-height: 300px;
	min-width: 350px;

	width: 55%;
	height: 50%;
}

img{

	max-width: 80%;
	max-height: 90%;

	border: 1px solid;
	border-radius: 2px;

}

ul.nav a {

	color: black !important;

	border-top-right-radius: 2px;
	border-top-left-radius: 2px;
	background-color: #AAAAAA;
}

ul.nav a:hover {

	color: grey !important;
}

li.active a {

	color: black !important;
}